h1 {
  text-align: center;
  color: rgb(187, 116, 8);
  font-size: 100px;
}

#index-body {
  background-color: rgb(219, 219, 224);
  margin: 0;
}

.sub-main {
    background-color: rgba(218, 218, 218, 0.753);
    border-radius: 10px;
    margin: 110px;
    display: flex;
    gap: 40px;
    justify-content: space-around;
    padding: 10px;
    box-shadow: 4px 4px 20px rgb(40, 39, 41);
    flex-wrap: wrap;
}

.left-div, .right-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 40px;
    flex: 1;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-sizing: border-box;
}

p {
    margin: 10px;
    text-align: center;
    font-family: cinzel;
}

.img-containers {
    background-color: rgba(213, 141, 247, 0.7);
    border-radius: 10px;
}

.img-containers:hover {
    background-color: rgba(203, 109, 247, 0.7);
}

.img-containers:active {
    color: rgb(119, 0, 255);
}

.date {
    margin: 0 0 5px 5px;
}

h3 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif,Helvetica, sans-serif;
    font-size: 30px;
}

ul {
    list-style-type: circle;
}

.updates-div {
    border-radius: 8px;
    border: 1px solid rgb(61, 61, 61);
    margin: 50px 110px;
    background-color: grey;
    color: rgb(0, 0, 0);
}

.extra-things-div {
    background-color: rgb(0, 30, 75);
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

#about-us {
    text-decoration: none;
    color:aquamarine;
}

#about-us:hover {
    color: rgb(0, 202, 135);
}

.footer {
    height: 100px;
    background-color: rgb(0, 24, 61);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.footer-text {
    font-family: 'Times New Roman', Times, serif;
}

/* about page css */

#about-page-body {
    margin: 0;
    padding: 0;
    background-image: url("images/pexels-pixabay-33545.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-height: 100vh;
}

.about-heading {
    color: #FFADAD;
}

.a-section-one {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    gap: 40px;
    padding: 60px;
}

.a-para-container, .a-main-text {
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 20px;
    color: #23405a;
    backdrop-filter: blur(1px);
    font-size: 18px;
}


.a-para-container {
    flex-grow: 2;
    width: 300px;
    max-width: 800px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-items: center;
}

.a-img-container {
    flex-grow: 1;
    padding: 30px;
    border-radius: 20px;
    border: 2px solid rgb(12, 12, 12);
    background-color: rgba(22, 21, 21, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 20px;
}

.a-section-two {
    display: flex;
    padding: 60px;
    gap: 40px;
    justify-content: flex-start;
    align-items: stretch;
}

.a-thanks {
    border: 2px solid #551A8B;
    border-radius: 20px;
    padding: 20px;
    background-color: #541a8b1a;
    backdrop-filter: blur(1px);
    color: gold;
    font-size: 20px;
}

.odin-link {
    color: rgb(192, 163, 0);
    text-decoration: none;
}

.odin-link:hover {
    color: rgb(226, 197, 51);
}

.a-footer {
    margin: 200px 0 0 0;
    background-color: rgb(0, 24, 61);
    color: white;
    padding: 10px;
}