h1 {
  text-align: center;
  color: rgb(187, 116, 8);
}

body {
  background-color: rgb(219, 219, 224);
  height: 100vh;
  padding: 60px;
}

.main {
  border: 4px solid rgb(165, 141, 7);
  border-radius: 15px;
}

.sub-main {
    border: 3px solid red;
    margin: 40px;
    display: flex;
    gap: 40px;
    justify-content: space-around;
}

.left-div, .right-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 40px;
}

img {
    width: 800px;
    height: auto;
    border-radius: 10px;
}

p {
    margin: 10px;
    text-align: center;
    font-family: cinzel;
}

.img-containers {
    background-color: rgba(213, 141, 247, 0.7);
    border-radius: 10px;

}
