h1 {
  text-align: center;
  color: rgb(187, 116, 8);
  font-size: 100px;
}

body {
  background-color: rgb(219, 219, 224);
  height: 100vh;
  padding: 60px;
}

/*.main {
  background-color: rgba(218, 218, 218, 0.7);
} */

.sub-main {
    background-color: rgba(218, 218, 218, 0.753);
    border-radius: 10px;
    margin: 40px;
    display: flex;
    gap: 40px;
    justify-content: space-around;
    padding: 10px;
    box-shadow: 4px 4px 20px rgb(40, 39, 41);
}

.left-div, .right-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 40px;
}

img {
    width: 800px;
    height: auto;
    border-radius: 10px;
}

p {
    margin: 10px;
    text-align: center;
    font-family: cinzel;
}

.img-containers {
    background-color: rgba(213, 141, 247, 0.7);
    border-radius: 10px;

}
